<div class="col-md-6 col-md-offset-3">
    <h2>Profile</h2>
    <form name="form" role="form">
        <div class="form-group" >
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control" ng-model="uname" ng-readonly="readOnly" placeholder="{{currentuser.username}}" required />
            <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">User name is required</span>
        </div>
        <div class="form-group" >
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" ng-model="pword" ng-readonly="readOnly" placeholder="{{currentuser.password}}" required />
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password name is required</span>
        </div>
        <div class="form-group" >
            <label for="firstname">Firstname</label>
            <input type="text" name="firstname" class="form-control" ng-model="fname" ng-readonly="readOnly" placeholder="{{currentuser.firstname}}" required />
            <span ng-show="form.firstname.$dirty && form.firstname.$error.required" class="help-block">Firstname is required</span>
        </div>
        <div class="form-group" >
            <label for="lastname">Lastname</label>
            <input type="text" name="lastname" class="form-control" ng-model="lname" ng-readonly="readOnly" placeholder="{{currentuser.lastname}}" required />
            <span ng-show="form.lastname.$dirty && form.lastname.$error.required" class="help-block">Password is required</span>
        </div>
        <div class="form-group" >
            <label for="email">Email</label>
            <input type="text" name="email" class="form-control" ng-model="email" ng-readonly="readOnly" placeholder="{{currentuser.email}}" required />
            <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is required</span>
        </div>
        <div class="form-group" >
            <label for="phone">Location</label>
            <input type="text" name="location" class="form-control" ng-model="location" ng-readonly="readOnly" placeholder="{{currentuser.loc}}" required />
            <span ng-show="form.phone.$dirty && form.phone.$error.required" class="help-block">Phone is required</span>
        </div>
        <div class="form-group" >
            <label for="location">Phone</label>
            <input type="text" name="phone" class="form-control" ng-model="phone" ng-readonly="readOnly" placeholder="{{currentuser.phone}}" required />
            <span ng-show="form.location.$dirty && form.location.$error.required" class="help-block">Location is required</span>
        </div>
        <div class="form-group" style="color:red">{{alert1}}</div>
        <div class="form-group" style="color:green">{{alert2}}</div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary" ng-click="update()">Update</button>
            <button type="submit"  class="btn btn-primary" ng-click="edit()">Edit</button>
            <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <button type="submit"  class="btn btn-primary" ng-click="reset()">Reset</button>
            <a href="#/home" class="btn btn-link" >Cancel</a>
        </div>
    </form>
</div>